@import "tailwindcss";

:root {
  --background: #e4e6eb;
  --foreground: #08090a;
}

:root.dark {
  --background: #08090a;
  --foreground: #e4e6eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-instant-indigo: #5e17eb;
  --color-instant-pink: #ff6fc4;
  --color-instant-black: #08090a;
  --color-instant-white: #e4e6eb;
  --color-instant-gray: #8499b1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: all 250ms ease-in-out;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Section games */

@keyframes scroll-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.scroll-right {
  display: flex;
  width: max-content;
  animation: scroll-right 50s linear infinite;
}

.scroll-left {
  display: flex;
  width: max-content;
  animation: scroll-left 50s linear infinite;
}
